<body>
<header>
  <div (click)="closeMenu()" [class.close]="menuBtn" class="menu-btn">
    <div class="btn-line"></div>
    <div class="btn-line"></div>
    <div class="btn-line"></div>

  </div>
  <nav (click)="closeMenu()" [class.show]="menu" class="menu">
    <div (click)="closeMenu()" [class.show]="menuBranding" class="menu-branding">
      <div class="portrait"></div>
      <br>
      <div style="text-align: center;">
        <div class="icons">
          <a href="https://twitter.com/Manjilmagar" target="_blank">
            <i class="fab fa-twitter fa-3x"></i>
          </a>
        </div>
        <div class="icons">
          <a href="https://www.linkedin.com/in/manjilthapamagar/" target="_blank">
            <i class="fab fa-linkedin fa-3x"></i>
          </a>
        </div>
        <div class="icons">
          <a href="https://github.com/immanjil" target="_blank">
            <i class="fab fa-github fa-3x"></i>
          </a>
        </div>
      </div>
    </div>
    <ul (click)="closeMenu()" [class.show]="menuNav" class="menu-nav">
      <li (click)="closeMenu()" [class.show]="navItem" class="nav-item">
        <a class="nav-link" routerLink="/main">
          Home
        </a>
      </li>
      <li (click)="closeMenu()" [class.show]="navItem" class="nav-item">
        <a class="nav-link" routerLink="/blog">
          Blogs
        </a>
      </li>
      <li (click)="closeMenu()" [class.show]="navItem" class="nav-item">
        <a class="nav-link" routerLink="/about">
          About Me
        </a>
      </li>
      <li (click)="closeMenu()" [class.show]="navItem" class="nav-item">
        <a class="nav-link" routerLink="/project">
          My Projects
        </a>
      </li>
      <li (click)="closeMenu()" [class.show]="navItem" class="nav-item">
        <a class="nav-link" routerLink="/wally-api">
          Walmart API
        </a>
      </li>
      <li (click)="closeMenu()" [class.show]="navItem" class="nav-item">
        <a class="nav-link" routerLink="/contact">
          Contact Me
        </a>
      </li>
    </ul>
  </nav>
</header>
</body>


