---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map(post => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---
<Layout title={post.slug.replace(/-/g, ' ')}>
    <article>
        <h1>{post.slug.replace(/-/g, ' ')}</h1>
        <Content />
    </article>
</Layout>
