<body>
<app-header></app-header>
<main>
  <h1 class="lg-heading">
    Manjil Thapa <span style="color:rgb(240, 80, 106)">Magar</span>
  </h1>
  <br>
  <h2 class="sm-heading">
    Full Stack Engineer
  </h2>
  <div style="text-align: center;">
    <div class="icons">
      <a href="https://twitter.com/Manjilmagar" target="_blank">
        <i class="fab fa-twitter fa-4x"></i>
      </a>
    </div>
    <div class="icons">
      <a href="https://www.linkedin.com/in/manjilthapamagar/" target="_blank">
        <i class="fab fa-linkedin fa-4x"></i>
      </a>
    </div>
    <div class="icons">
      <a href="https://github.com/immanjil" target="_blank">
        <i class="fab fa-github fa-4x"></i>
      </a>
    </div>
  </div>
</main>
<app-footer></app-footer>
</body>
