---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home">
    <h1>Manjil Thapa Magar</h1>
    <p>Software Engineer. Welcome to my new, simpler portfolio built with Astro.</p>
    <p>I'm migrating my old site to something much easier to maintain.</p>
    <h2>Latest Thoughts</h2>
    <p>Check out my <a href="/blog">blog posts</a>.</p>
</Layout>
