<body>

<app-header></app-header>

<br>

<main>

  <h1 class="lg-heading">
    My <span style="color:rgb(240, 80, 106)">Projects</span>
  </h1>
  <br>
  <h2 class="sm-heading">
    Some of my on going Work
  </h2>

  <br>

  <div class="container"
       style="height: 100%;"
       fxLayout="row"
       fxLayout.xs="column"
       fxLayoutGap="10px"
       fxLayoutAlign="space-evenly none">
    <div fxFlex="33%">
      <mat-card class="project-card">
        <mat-card-header class="project-header">
          <mat-card-title class="project-title" routerLink="/wally-api">Walmart Stock Seeker</mat-card-title>
        </mat-card-header>
        <div class="resp-container">
        </div>
        <mat-card-content>
          <p>Users Walmart API to search for Walmart product in store price and stocks.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</main>

<br>

<app-footer></app-footer>

</body>
